.input {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   width: 100%;
}

.input__label {
   font-size: var(--font-size-md);
   color: var(--text);
   font-weight: var(--font-weight-semibold);
}

.input__label_required {
   color: red;
}

.input__wrapper {
   width: 100%;
   height: 3rem;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   border-radius: 0.4rem;
   padding-left: 0.8rem;
   border: 1px solid var(--foreground);
}

.input__icon svg {
   width: 1.5rem;
   height: 1.5rem;
   fill: var(--foreground);
}

.input__input {
   width: 100%;
   height: 100%;
   outline: none;
   border: none;
   border-radius: 0.2rem;
   background-color: transparent;
}

.input__input::placeholder {
   font-size: var(--font-size-sm);
}

.input__error {
   color: red;
   font-size: var(--font-size-sm);
}

@media screen and (min-width: 768px) {
   .input {
      gap: 1rem;
   }

   .input__wrapper {
      height: 3rem;
   }

   .input__label {
      font-size: var(--font-size-lg);
   }

   .input__icon svg {
      width: 2rem;
      height: 2rem;
   }

   .input__input.input__input::placeholder {
      font-size: var(--font-size-md);
   }
}
