/* Inter */
@font-face {
   font-family: 'Inter', sans-serif;
   src: url('/public/fonts/Inter/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/* Quicksand  */
@font-face {
   font-family: 'Quicksand', sans-serif;
   src: url('/public/fonts/Quicksand/Quicksand-VariableFont_wght.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
