:root {
   --background-light: #fcfcfc;
   --background-dark: #0d0d0d;
   --text-light: #3d3d3d;
   --foreground-light: #bdbdbd;
   --element-light: #0d0d0d;
   --text-button-light: #fcfcfc;
   --text-bg-login: #9c9c9c;
}
